<html>
    <body>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            var token = "{{ token }}";

            function sendLoginData(event) {
                // For Chrome, the origin property is in the event.originalEvent object.
                var origin = event.origin || event.originalEvent.origin;
                // MAKE SURE FUNCTION CALLER ORIGIN IS FROM ALLOWED DOMAIN! SECURITY PURPOSES.
                
                {% if cors_origin_regex_whitelist %}
                var corsOriginRegexWhitelist = {{ cors_origin_regex_whitelist|safe }};
                var isAllowed = corsOriginRegexWhitelist.some(function (whitelistedOrigin) {
                    return origin.match(whitelistedOrigin)
                });

                if (isAllowed) {
                    // call postMessage function from the window caller
                    event.source.postMessage(token, origin);
                    // close window
                    window.close();
                }
                {% endif %}
            }

            // receive any postmessage to catch the caller window and send the data to there
            window.addEventListener('message', sendLoginData);
        </script>
        {% if next_page %}
        <h1>Login Sukses!</h1>
        Klik di <a href="{{ next_page }}">sini</a> untuk kembali ke halaman sebelumnya.
        {% endif %}
    </body>
</html>
